/* Header */
.header {
  background: #202020;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header .inner-logo a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.text-user p {
  color: white;
}

.text-user img {
  width: 20px;
  border-radius: 100%;
}
/* End Header */

/* Body */
.body .sider {
  width: 150px;
  background: #323232;
  color: #fff;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left: 0;
}

.body .main {
  margin: 15px;
  position: relative;
  left: 150px;
  width: calc(100% - 180px);
}

.slect-quantity:focus {
  outline: none;
}
.slect-quantity {
  border-radius: 5px;
}

/* End Body */

/* Sider */
.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sider .inner-menu ul li a {
  color: #fff;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #515151;
}

/* End Sider */

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 10%;
  }
  to {
    right: 30%;
  }
  to {
    right:-80%;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Show Alert */

/* Image Preview */
.image-preview {
  width: 250px;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.image-preview[src=""] {
  display: none;
}
/* End Image Preview */

/* role */
.form-check-input {
  transform: scale(1.5); 
  margin: 5px;  
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.btn-change a i,
.btn-change button i {
   color: rgb(204, 0, 255);
   transform: scale(2);
}

.btn-change button {
  transform:translateY(-2px);
}

.btn-change a i:hover,
.btn-change button i:hover {
  transform: scale(2);
  color: rgb(8, 0, 10);
  transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* End role */